<!DOCTYPE html>
<html>
  <head>
    <title>Stackoverclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.loginLogo = "<%= image_url("login_transparent.png") %>"
      window.logoTransparent = "<%= image_url("logo_transparent.svg") %>"
      window.searchIcon = "<%= image_url("magnifying-glass-solid.svg")%>"
      window.qBubble = "<%= image_url("qBubbleBlack.png")%>"
      window.voteIcon = "<%= image_url("voteIcon.png")%>"
      window.tagIcon = "<%= image_url("tagIcon.png")%>"
      window.trophyIcon = "<%= image_url("trophyIcon.png")%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
